<footer class="footer mt-auto p-4">
    <div class="container">
        <div class="footer__inner text-center">
            <div class="footer__content d-flex align-items-center justify-content-between">
                <img class="footer__logo" src="/public/img/logo__rus.png" style="filter: grayscale(100%);">

                <div class="footer__social d-flex">

                    <a href="https://www.youtube.com/channel/UCRwpL9e1zJFErTeKxUecHwg/featured"><img src="/public/img/socials/youtube.png" alt="Youtube Logo"></a>
                    <a href="https://www.youtube.com/channel/UCRwpL9e1zJFErTeKxUecHwg/featured"><img src="/public/img/socials/instagram.png" alt="Instagram Logo"></a>
                    <a href="https://www.youtube.com/channel/UCRwpL9e1zJFErTeKxUecHwg/featured"><img src="/public/img/socials/facebook.png" alt="Facebook Logo"></a>
                    <a href="https://wa.me/+77718482030"><img src="/public/img/socials/whatsapp.png" alt="Whatsapp Logo"></a>
                </div>
            </div>
            <div class="footer__license mt-3 text-dark">©2024 The Boys. Все права защищены</div>
        </div>
    </div>
</footer>