<header class="mb-5">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid align-items-center">
            <a class="navbar-brand" href="/">
                <img class="header__logo" src="/public/img/logo__rus.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex header__search mx-auto"  role="search">
                    <input class="form-control me-2" type="search" placeholder="Искать" aria-label="Search">
                    <button class="" type="submit">
                        <span class="material-symbols-rounded">search</span>
                    </button>
                </form>
                <!-- <button class="btn btn-primary d-flex align-items-center gap-2" id="login-btn">
                    Выйти
                    <span class="material-symbols-rounded">logout</span>
                </button> -->
            </div>
        </div>
    </nav>
</header>