<head>
    <link rel="stylesheet" href="/public/css/style.css">
    <title>CityPass</title>
</head>
<body>
    <div class="catalog px-3">
        <div class="container-fluid">
            <div class="catalog__inner">
                <h1 class="catalog__title fw-semibold text-uppercase fs-1">Достопримечательности</h1>
                <p>Мы собрали для вас лучшие достопримечательности столицы с полным описанием и честными отзывами от туристов.</p>
                <div class="container">
                    <div class="catalog__list mt-5">
                        <div class="catalog__element d-flex gap-5 mb-5">
                            <div class="catalog__content d-flex flex-column align-items-start">
                                <h2 class="mb-4">Ethno-memorial complex «Atameken»</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, tempora aperiam! Voluptates corporis quas nam qui distinctio! Doloribus minima fugiat alias dolorem incidunt eius molestias, minus amet similique libero harum ipsam, quasi animi quisquam debitis voluptatem, nobis ipsa placeat eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur harum, nisi eum error quasi, dicta ea unde quidem qui inventore est facilis suscipit et recusandae ipsum sint quaerat magnam molestias tenetur minima esse</p>
                                <a type="button" class="btn custom-btn__cyan fs-5 mt-auto">Подробнее</a>
                                <div class="catalog__price">

                                </div>
                            </div>
                            <img class="catalog__img" src="/public/img/catalog/1.jpg" alt="">
                        </div>
                        <div class="catalog__element d-flex gap-5 mb-5">
                            <div class="catalog__content d-flex flex-column align-items-start">
                                <h2 class="mb-4">Ethno-memorial complex «Atameken»</h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, tempora aperiam! Voluptates corporis quas nam qui distinctio! Doloribus minima fugiat alias dolorem incidunt eius molestias, minus amet similique libero harum ipsam, quasi animi quisquam debitis voluptatem, nobis ipsa placeat eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur harum, nisi eum error quasi, dicta ea unde quidem qui inventore est facilis suscipit et recusandae ipsum sint quaerat magnam molestias tenetur minima esse</p>
                                <a type="button" class="btn custom-btn__cyan fs-5 mt-auto">Подробнее</a>
                                <div class="catalog__price">

                                </div>
                            </div>
                            <img class="catalog__img" src="/public/img/catalog/1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="posts">
        
        <div class="post__element">

        </div>
    </div>
</body>
</html>