<head>
    <link rel="stylesheet" href="/public/css/style.css">
    <title>CityPass</title>
</head>
<body>
    <div class="catalog px-3">
        <div class="container">
            <div class="catalog__inner">
                <h1 class="catalog__title fw-semibold text-uppercase fs-1">Достопримечательности</h1>
                <p>Мы собрали для вас лучшие достопримечательности столицы с полным описанием и честными отзывами от туристов.</p>
                <div class="catalog__list mt-5" id="catalog-list">
                   
                </div>
            </div>
        </div>
    </div>

    <div class="posts">
        
        <div class="post__element">

        </div>
    </div>

    <script>
        $(document).ready(function() {
            getAllAttractions();
        })

        async function getAllAttractions() {
            try {
                const response = await fetch('/api/admin', {
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                if (response.ok) {
                    let attractionsHTML = "";
                    let data = await response.json();
                    console.log(data);
                    $("#catalog-list").html();
                    data.forEach((a, index) => {
                        if (index % 2 === 0) {
                            // Display content first, then image
                            attractionsHTML += `
                            <div class="catalog__element d-flex justify-content-between gap-5 mb-5" id="catalog-${index + 1}">
                                <div class="catalog__content">
                                    <h2 class="mb-4">${a.attraction_name}</h2>
                                    <p>${a.short_description}</p>
                                    <a type="button" class="btn custom-btn__cyan fs-5">Подробнее</a>
                                </div>
                                <div class="catalog__left">
                                    <div class="img__container">
                                        <img src="${a.attraction_img}" alt="">
                                    </div>
                                </div>
                            </div>`;
                        } else {
                            // Display image first, then content
                            attractionsHTML += `
                            <div class="catalog__element d-flex justify-content-between gap-5 mb-5" id="catalog-${index + 1}">
                                <div class="catalog__left">
                                    <div class="img__container">
                                        <img src="${a.attraction_img}" alt="">
                                    </div>
                                </div>
                                <div class="catalog__content text-end">
                                    <h2 class="mb-4">${a.attraction_name}</h2>
                                    <p>${a.short_description}</p>
                                    <a type="button" class="btn custom-btn__cyan fs-5">Подробнее</a>
                                </div>
                            </div>`;
                        }
                    });
                    $("#catalog-list").append(attractionsHTML);
                }

            } catch (error) {
                console.log(error);
            }
        }
    </script>
</body>
</html>