<head>
    <link rel="stylesheet" href="/public/css/style.css">
    <title>CityPass</title>
</head>
<body>
    <div class="catalog">
        <div class="container-fluid">
            <div class="catalog__inner">
                <h1 class="catalog__title fw-semibold text-uppercase fs-1">Достопримечательности</h1>
                <p>Мы собрали для вас лучшие достопримечательности столицы с полным описанием и честными отзывами от туристов.</p>
                <div class="catalog__list mt-5">
                    <div class="catalog__element d-flex gap-5 mb-5">
                        <div class="catalog__content">
                            <h2>Ethno-memorial complex «Atameken»</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod officiis dolorum alias fuga animi dolorem tempora aliquam temporibus odit maxime magnam, accusantium, voluptates optio cumque ducimus eum quas, nam dolor.</p>
                            <a type="button" class="btn custom-btn__cyan">Primary</a>
                        </div>
                        <img class="catalog__img" src="/public/img/catalog/1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>