<head>
    <title>Логин | Smart Guide</title>
    <link rel="stylesheet" href="/public/css/common.css">
    <style>
        .login {
            background-color: white;
            margin: 15vh auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px;
            border-radius: 10px;
            width: 50%;
        }

        @media (max-width: 768px) {
            .login {
                width: 90%;
            }

            .login div {
                width: 100% !important;
            }
        }
        header{
            display: none;
        }
    </style>
</head>

<body>
    <main>
        <div class="login container-sm">
            <h1>Вход</h1>
            <div id="ambiance" class="w-50 p-0"></div>
            <div class="mb-3 mt-3 w-50">
                <label for="email" class="form-label">Электронная почта</label>
                <input type="email" class="form-control" id="email" placeholder="Введите вашу почту" name="email">
            </div>
            <div class="mb-1 w-50">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="pswd">
            </div>
            <button type="submit" id="login_btn" class="btn btn-primary px-5 mt-4" onclick="signIn()"> Войти</button>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function signIn() {
            loading(2, el = '#login_btn');
            let email = $('.login #email').val().trim().toLowerCase();
            let password = $('.login #password').val().trim();
            let ambianceElement = $('.login #ambiance');

            if (!email || !password) {
                loading(20, el = '#login_btn');
                ambianceElement.html('<p>Заполните все поля</p>').addClass('show warning');
                setTimeout(function () {
                    ambianceElement.removeClass('show warning').html('');
                }, 3000);
                return;
            }

            if (!isValidEmail(email)) {
                ambianceElement.html('<p>Неверная почта</p>').addClass('invalid-email show');
                setTimeout(function () {
                    loading(20, el = '#login_btn');
                    ambianceElement.removeClass('show invalid-email').html('');
                }, 2000);
                return;
            }

            $.ajax({
                method: 'post',
                url: '/api/auth/login',
                dataType: 'json',
                data: {
                    email: email,
                    password: password
                }, success: function (res) {

                    if (res.r == 1) {
                        ambianceElement.html('<p>Success!</p>').addClass('success');
                        setTimeout(function () {
                            ambianceElement.removeClass('show success error info too-many-requests').html('');
                            window.location.href = '/admin';
                        }, 1000);
                    } else if (res.r == 0) {
                        ambianceElement.html('<p>Неверный пароль</p>').addClass('error');
                    }
                    loading(20, el = '#login_btn');
                    ambianceElement.addClass('show');
                    setTimeout(function () {
                        ambianceElement.removeClass('show success error info too-many-requests').html('');
                    }, 3000);
                }, error: function (err) {
                    loading(20, el = '#login_btn');
                    console.log(err);
                }
            });
        }

        function isValidEmail(email) {
            return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
        }


    </script>
</body>

</html>