<head>
    <title>Ошибка сервера | CityPass</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="error">
        <div class="container">
            <div class="error__inner text-center">
                <img src="/public/img/500.png" alt="" width="200">
                <div class="intro__content">
                    <h1>Ошибка сервера</h1>
                    <p>Простите за это. Попробуйте вернуться на главную страницу</p>
                    <a class="btn" href="/">Главная страница</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>